#nombre_ciudad {
    color: blue; /* Color azul */
    font-weight: bold; /* Negrita */
    font-size: 2em; /* Aumenta el tamaño del texto */
}

.descrip_ciudad {
    color: green; /* Color verde */
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
}

.sitios_ciudad {
    color: brown; /* Color marrón */
    font-family: sans-serif; /* Tipo de letra sans-serif */
}
